<launch>
	<param name="Test" value="testwfdpjfsdkfj"/>

	<param name="path_to_catkin_folder" value="../catkin_ws"/>
	<param name="folder_name" value="cjtrobotics_gui"/>
	
	<param name="laptop_battery" value="charge"/>
	
	<param name="ipv4_address_robot" value="192.168.1.91"/>

	<param name="rostopic_name_voltage" value="/voltage"/>
	<param name="rostopic_name_rpm" value="/cjtrobotics_gui_skidSteering_Publisher"/>
	<param name="rostopic_name_lidar" value="/lidar"/>
	<param name="rostopic_name_cameraFront" value="/camera_front/image_raw"/>
	<param name="rostopic_name_cameraBack" value="/camera_back/image_raw"/>
	<param name="rostopic_name_cameraTop" value=""/>
	
	
	<node pkg="cjtrobotics_gui" type="driver_gui" name="driver_gui" output="screen"/>
</launch>
